/*  ==========================================================================
    Popup
    ==========================================================================  */

    .popup {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 5px 5px;
        z-index: 1000000;
        overflow-y: auto;
        pointer-events: none;
        opacity: 0;

        -webkit-transition: all .2s;
                transition: all .2s;
    }

    .popup--visible {
        pointer-events: auto;
        opacity: 1;
    }

    .popup__container {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px 20px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0 16px 26px 0 rgba(0,0,0,.05);
        opacity: 0;
        z-index: 1000002;

        -webkit-transition: all .5s;
                transition: all .5s;

        -webkit-transform: scale(.8);
            -ms-transform: scale(.8);
                transform: scale(.8);
    }

    .popup--visible .popup__container {
        opacity: 1;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: sscale(1);
    }

    .popup__bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(52,52,51,.9);
        z-index: 1000001;
        cursor: pointer;
    }

    .popup__close {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        background: red;
        background-size: 20px 20px;
        cursor: pointer;

        -webkit-transition: all .2s;
                transition: all .2s;
    }

/*  ==========================================================================
    Menu
    ==========================================================================  */

    .burger {
        position: fixed;
        top: 0;
        right: 0;
        padding: 20px;
        cursor: pointer;
        z-index: 1000;
    }

    .menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        pointer-events: none;
    }

    .menu--open {
        pointer-events: auto;
    }

    .menu__filter {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #000;
        opacity: 0;
        cursor: pointer;
        pointer-events: none;

        -webkit-transition: all .8s;
                transition: all .8s;
    }

    .menu--open .menu__filter {
        background: #000;
        opacity: .8;
        cursor: pointer;
        pointer-events: auto;
    }

    .menu__modal {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 10%;
        background: #fff;
        text-align: center;
        overflow-y: auto;

        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);

        -webkit-transition: all .4s;
                transition: all .4s;
    }

    .menu--open .menu__modal {
        -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
                transform: translateX(0%);
    }

    .menu__header {
        padding: 30px 20px;
    }

    .menu__logo {
        display: block;
        width: 100px;
        margin: 0 auto;
    }

    .menu__item {
        display: block;
        border-top: 1px solid rgba(#000, .1);

        &:last-child {
            border-bottom: 1px solid rgba(#000, .1);
        }

        & a {
            display: block;
            padding: 15px 20px;
        }
    }

    .menu__close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        cursor: pointer;
    }
